/* common */
.container {
  width: 700px;
  margin: 0 auto;
  padding: 30px;
  color: #61dafb;
  background: #282d33;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.colorWhite {
  color: white;
  cursor: pointer;
}

.flexColumn {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flexRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.qandaTitle {
  width: 10%;
  margin-right: 5px;
}

.textField {
  width: 100%;
  height: 40px;
}

/* Menu */
.menuContainer {
  width: 700px;
  height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.menuButtonContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* Game */
.gameContainer {
  width: 500px;
  height: 423px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.answerButton {
  width: 100%;
  height: 50px;
  text-transform: none;
}

/* Result */
.resultContainer {
  width: 700px;
  height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

/* Edit */
.editContainer {
  width: 80%;
  text-align: left;
}

.editButtonContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* Question */
.questionContainer {
  padding: 30px 30px 10px;
  margin-bottom: 20px;
  border: 1px rgb(255, 255, 251) solid;
  border-radius: 5px;
}

/* Create */

.createContainer {
  width: 500px;
  height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
