.container {
  width: 700px;
  margin: 0 auto;
  padding: 30px;
  color: #61dafb;
  background: #282d33;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

/* menu */
.menuContainer {
  width: 700px;
  height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.menuButtonContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* Answers */

.answersContainer {
  width: 500px;
  height: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.answerButton {
  width: 100%;
  height: 50px;
  text-transform: none;
}

/* Result */

.resultContainer {
  width: 700px;
  height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.resultButtonContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* Edit */

.editButtonContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.colorWhite {
  color: white;
  cursor: pointer;
}

.flexColumn {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flexRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.formContainer {
  width: 80%;
  display: flex;
  flex-flow: column;
}

.editContainer {
  width: 80%;
  text-align: left;
}

.textField {
  width: 100%;
  height: 40px;
}

.qandaTitle {
  width: 10%;
}
