/* 共通 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;
  background: #282d33;
  color: #61dafb;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.colorWhite {
  color: white;
  cursor: pointer;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.qandaTitle {
  width: 60px;
}

.textField {
  width: 100%;
  height: 40px;
}

/* Menu */
.title {
  font-size: 40px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 550px;
}

.menuButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

/* Game */
.questionNumber {
  margin-bottom: 10px;
  font-size: 25px;
}

.question {
  width: 600px;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 450px;
  margin: 40px 0;
}

.none {
  opacity: 0;
  font-size: 30px;
}

.correctOrIncorrect {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  transition: 1s;
}

.answerButton {
  width: 100%;
  height: 50px;
  text-transform: none;
}

.gameButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100px;
}

/* Result */
.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 550px;
}

/* Edit */
.editTitle {
  text-align: center;
}

.editContainer {
  width: 80%;
  text-align: left;
}

.editButtonContainer {
  width: 300px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

/* Question */
.questionContainer {
  margin-bottom: 20px;
  padding: 30px 30px 10px;
  border: 1px rgb(255, 255, 251) solid;
  border-radius: 5px;
}

/* Create */
.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 550px;
}

.createButtonContainer {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

/* 〜959px：タブレット
------------------------------ */
@media screen and (max-width: 959px) {
  .question {
    width: 450px;
    font-size: 25px;
  }

  .gameContainer {
    width: 400px;
    height: 400px;
  }

  .answerButton {
    width: 100%;
    height: 40px;
    font-size: 2px;
  }

  .createContainer {
    width: 100%;
  }
}

/* 〜479px：スマートフォン縦
    ------------------------------ */
@media screen and (max-width: 479px) {
  .title {
    font-size: 30px;
  }

  .menuButtonContainer {
    flex-direction: column;
    width: 150px;
    height: 90px;
  }

  .questionNumber {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .question {
    width: 300px;
    height: 80px;
    font-size: 20px;
  }

  .gameContainer {
    width: 200px;
    height: 400px;
  }

  .editButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
    width: 140px;
    height: 80px;
  }

  .createContainer {
    height: 520px;
  }

  .createButtonContainer {
    width: 150px;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
  }

  .resultContainer {
    height: 400px;
    font-size: 15px;
  }
}
