.container {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
  background: gray;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.buttonSize {
  width: 400px;
  height: 50px;
}